#jeproshop_date_picker{}
#jeproshop_date_picker .date-range-picker{ position:relative; font-size:13px; border:solid 1px #ccc;margin:0 0 8px 0}
#calendar_date_range_picker_form{  margin-top:2px; z-index: 1200; }
.date-range-picker-row{ height:auto; }
.date-range-picker-row .start-date-picker, .date-range-picker-row .end-date-picker{ width: 25%; margin-left: 10px; }
.date-range-picker-row table{ width: 100%; margin:0 auto; border-spacing: 1px; }
.date-range-picker-row thead tr th{ background-color: #0092ce; color: #fff;
    font-size: 0.7em;
    text-transform: uppercase; text-align:center}
.date-range-picker-row thead tr:first-child th{
    background-color:#fff;border-bottom:1px solid #0092ce;font-weight:100;font-size:1.1em;color:#00a4e7
}
.date-range-picker-row td, .date-range-picker-row th{ text-align: center; padding:0; position: relative; }
.date-range-picker-row tr{ border-bottom: 1px solid #fff; }
.date-range-picker-row td{
    color:#00a4e7; height:1.4em; padding: 0 8px; -webkit-transition-property:all; transition-property:all;
    -webkit-transition-duration: 0.2s; transition-duration:0.2s; -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.date-range-picker-row td.day:after{
    content:"";position:absolute;display:block;top:0;width:100%;z-index:0;background-color:transparent;left:0
}
.date-range-picker td.day:hover{cursor:pointer}
.date-range-picker td.day.disabled{color:#ccc}
.date-range-picker td.old, .date-range-picker td.new{color:#ccc}
.date-range-picker td.start-selected:not(.old):not(.new):not(.end-selected){
    color:#fff;font-weight:700;background-color:#00a4e7;border-bottom-left-radius:15px;
    border-top-left-radius:15px
}
.date-range-picker td.start-selected:not(.old):not(.new):not(.end-selected).range-compare{
    background-color:#4ca0b1;border-bottom-left-radius:0;border-top-left-radius:0;
}
.date-range-picker td.start-selected:not(.old):not(.new):not(.end-selected).end-selected-compare,
.date-range-picker td.start-selected:not(.old):not(.new):not(.end-selected).start-selected-compare{background-color:#4c99a1}
.date-range-picker td.start-selected:not(.old):not(.new):not(.end-selected).end-selected-compare{-webkit-border-radius:0;border-radius:0}
.date-range-picker td.end-selected:not(.old):not(.new):not(.start-selected){color:#fff;font-weight:700;background-color:#00a4e7;border-bottom-right-radius:15px;border-top-right-radius:15px}
.date-range-picker td.end-selected:not(.old):not(.new):not(.start-selected).range-compare{background-color:#4ca0b1;border-bottom-right-radius:0;border-top-right-radius:0}
.date-range-picker td.end-selected:not(.old):not(.new):not(.start-selected).end-selected-compare,
.date-range-picker td.end-selected:not(.old):not(.new):not(.start-selected).start-selected-compare{background-color:#4c99a1}
.date-range-picker td.end-selected:not(.old):not(.new):not(.start-selected).start-selected-compare{-webkit-border-radius:0;border-radius:0}
.date-range-picker td.start-selected-compare:not(.old):not(.new):not(.end-selected-compare){color:#fff;font-weight:700;background-color:#ff8000;border-bottom-left-radius:15px;border-top-left-radius:15px}
.date-range-picker td.start-selected-compare:not(.old):not(.new):not(.end-selected-compare).range{background-color:#ba924c;border-bottom-left-radius:0;border-top-left-radius:0}
.date-range-picker td.end-selected-compare:not(.old):not(.new):not(.start-selected-compare){color:#fff;font-weight:700;background-color:#ff8000;border-bottom-right-radius:15px;border-top-right-radius:15px}
.date-range-picker td.end-selected-compare:not(.old):not(.new):not(.start-selected-compare).range{background-color:#ba924c;border-bottom-right-radius:0;border-top-right-radius:0}
.date-range-picker td.end-selected.start-selected{color:#fff;-webkit-border-radius:15px;border-radius:15px;font-weight:700;background-color:#00a4e7}
.date-range-picker td.end-selected.start-selected.range-compare{background-color:#4ca0b1;-webkit-border-radius:0;border-radius:0}
.date-range-picker td.end-selected-compare.start-selected-compare{color:#fff;-webkit-border-radius:15px;border-radius:15px;font-weight:700;background-color:#ff8000}
.date-range-picker td.end-selected-compare.start-selected-compare.range{background-color:#ba924c;-webkit-border-radius:0;border-radius:0}
.date-range-picker td.range{color:#cef1ff;background-color:#1bbdff}
.date-range-picker td.range.range-compare{background-color:#8dab99}
.date-range-picker td.range-compare{color:#fff2e5;background-color:#f93}
.date-range-picker td.range-compare.range{background-color:#8dab99}
.date-range-picker td.today{background-color:#fff}
.date-range-picker td span{padding:0;display:block;width:33.333%;height:3em;line-height:3em;font-weight:400;float:left;text-transform:uppercase;cursor:pointer}
.date-range-picker td span:hover{color:#fff;background-color:#00a4e7}
.date-range-picker td span.active{background-color:#00a4e7;color:#fff}
.date-range-picker td span.old{color:#ccc}
.date-range-picker th.next{text-align:right;padding:0 10px 0 0}
.date-range-picker th.prev{text-align:left;padding:0 0 0 10px}
.date-range-picker th.next,.date-range-picker th.prev,
.date-range-picker th.month-switch{font-size:1.3em;line-height:2em;height:2em}
.date-range-picker th.next:hover,.date-range-picker th.prev:hover,
.date-range-picker th.month-switch:hover{background-color:#0092ce;color:#fff}
.date-range-picker thead tr:first-child th{cursor:pointer}
.chevron-left, .chevron-right{position:relative}
.chevron-left:before, .chevron-right:before{display:block;content:"";width:0;height:0;border-style:solid;position:absolute}
.chevron-left:before{top:0;border-color:transparent transparent transparent #00a4e7;background-color:#1bbdff;right:0;border-width:1.2em 0 1.2em 0.5em}
.chevron-right:before{top:0;border-color:transparent transparent transparent #1bbdff;background-color:#00a4e7;left:0;border-width:1.2em 0 1.2em 0.5em}
.input-complete{-webkit-animation:one 0.2s ease-in-out;-moz-animation:one 0.2s ease-in-out;-ms-animation:one 0.2s ease-in-out;-o-animation:one 0.2s ease-in-out;animation:one 0.2s ease-in-out}
.breadcrumb-multi-shop select{
    display:inline-block;height:22px;line-height:20px;border:1px solid #659e32;margin:0;outline:none;color:#666;
    background:#fff;position:relative;-webkit-appearance:none;padding:0 5px 0 8px;-webkit-border-radius:4px;border-radius:4px
}
.form-date-heading{ text-align: center; margin-bottom:10px; }
span.title{ font-size: 14px; font-weight: bold; }
.form-date-body .form-label{ font-weight:bold; margin-right: 10px; margin-left: 5px;}
.form-date-body .form-label:first-child{  margin-left: 0; }
.form-date-group{ margin-top: 15px; }
/*#jeproshop_date_picker .date-range-picker table{ width:100%; margin:0; border-spacing: 1px;}
#jeproshop_date_picker .date-range-picker{}
#jeproshop_date_picker{} */