@CHARSET "ISO-8859-1";
.right{ float:right;}
.left{ float:left; }
.half-wrapper{width:49%; }
.half-wrapper-left{width:55%; float:left;}
.half-wrapper-right{width:44%; float: right; }
.one-third{ width:32%; }
.half-wrapper .control-label{width:30%; }
.half-wrapper .controls{ width:68%; margin-right: 3px; }
.one-third{width:32%; margin-right:1%; float:left;}
.separation{ clear:both; margin:10px;}
.url{ width:90%; }
.fixed-width-sm, .medium-select{ width:160px; }
.payment-method{width:130px;}
.input-date-box{ width:70px; }
.input-date{ width:100px; }
.currency-sign{ width: 65px; }
.quantity-box{ width:45px;}

.day-wrapper{ width:60px; }
.month-wrapper{ width:120px; }
.year-wrapper{ width: 80px;}

.translatable{ }
.translatable .input-lang{ float:left; margin-right:5px; }
.translatable .input-lang input[type="text"]{width:180px;}
.translatable .btn-group-action{}
.jeproshop_sub_menu_wrapper{ margin-bottom:20px;}
.list-inline{ display:inline; padding:0; list-style:none; margin-left:-5px; }
.list-inline>li{ display:inline-block; padding-left:5px; padding-right:5px;}
.info-left{width:49%; float:left;}
.info-right{width:49%; float:right;}
.icon-shopping-cart{}
.label{}
.label-success{}
.label-danger{}
.badge{}
.badge-success{}
.badge-success a, .badge-success a:hover{ color:white; text-decoration:none; }
.total-box-wrapper{width:54%; float:right; }
.panel-warning{width:44%; float:left; margin-top:15px; }
.panel-total{ margin-top:10px; }
.icon-ok-circle{background-image: url("../images/icon16/icon-valid-green.png"); }
.icon-exclamation-sign{}
.icon-big{}

.unit-box{ width:55px;}
/** price boxes **/
.price-box{ width:85px; }
.middle-size{ width:140px; text-align: left; }

.sub-control{ margin-top: 4px;}

.control-group .control-label label { font-weight:600; }

/** panel styling **/
.panel{ margin-top:10px; margin-bottom:20px; }
.panel .well, .panel.well{ width: 100% !important; }
.panel .form_layout .controls{ }
.panel .form_layout .control-label{ text-align: right; width:30%; padding: 0;}
.panel .form_layout .control-label label{ text-align: right; margin-top: 0; font-weight:bold;}
.panel-title{
    height:20px; margin-bottom: -2px; padding: 5px 5px; font-weight: bold; text-align: center;
    border-radius: 5px 5px 0 0; font-size: 16px; width: 100%;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border: 1px solid #b0adb0;
    background: -webkit-linear-gradient(top, rgb(202, 202, 202) 0%, rgb(255, 255, 255) 100%);
    background: -o-linear-gradient(top, rgb(202, 202, 202) 0%, rgb(255, 255, 255) 100%);
    background: -ms-linear-gradient(top, rgb(202, 202, 202) 0%, rgb(255, 255, 255) 100%);
    background: -moz-linear-gradient(top, rgb(202, 202, 202) 0%, rgb(255, 255, 255) 100%);
    background: linear-gradient(to bottom, rgb(202, 202, 202) 0%, rgb(255, 255, 255) 100%);
}
.panel-sub-title{
    margin:0 0 10px 0; font-weight:bold; height:26px; padding-top:5px; padding-left: 10px; text-align: center;
}
.panel-title i{ margin-right: 5px; }
.panel-title .e-mail{font-size:10px; font-weight: normal; }
.panel .panel-content{
    padding:15px;

    width: 100%; }
.panel-row{ width:96%; margin:0 auto;}
ul.tree{ list-style: none;}
.tree-folder-name{   }
.icon-folder-close{ margin-right: 5px; }
/** customer card **/
.customer-card{ width:31%; float: left; margin-right: 1.5%; }

#customer-form .control-label label{ text-align:right; }
#logo-wrapper{ width:150px; margin-right: 20px;  }
#info-wrapper{ width: 600px; margin-left:10px; }

.jeproshop-block-title{
    width:98%; padding: 4px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/** tree **/
.tree{list-style:none; padding:0 0 0 30px; margin:0;  }
.tree-wrapper{ margin: 0;}
.tree input{vertical-align:baseline;margin-right:4px;line-height:normal}
.tree i{font-size:14px; float:left;  display: inline;  }
.tree .tree-item-name, .tree .tree-folder-name{padding:2px 5px;-webkit-border-radius:4px;border-radius:4px}
.tree .tree-item-name label, .tree .tree-folder-name label{font-weight:400}
.tree .tree-item-name:hover, .tree .tree-folder-name:hover{background-color:#eee;cursor:pointer}
.tree .tree-selected{color:#fff;background-color:#00aff0}
.tree .tree-selected:hover{background-color:#009cd7}
.tree .tree-selected i.tree-dot{background-color:#fff}
.tree i.tree-dot{display:inline-block;position:relative;width:6px;height:6px;margin:0 4px;background-color:#ccc;-webkit-border-radius:6px;border-radius:6px;}
.tree .tree-folder-name-disable{color:#ccc}
.tree .tree-item-disable:hover,.bootstrap .tree .tree-folder-name-disable:hover{color:#ccc;background-color:transparent; }
.tree-actions{display:inline-block}
.tree-panel-heading-controls{margin:-20px -20px 20px;padding:5px;border-bottom:solid 1px #DFDFDF}
.tree-actions .twitter-typeahead{padding:0 0 0 4px;position:relative;top:1px}
.tree-actions .tt-hint{left:4px !important;color:#ccc}
.tree-panel-label-title{font-weight:400;margin:0;padding:0 0 0 8px}


/** datepicker **/
.ui-datepicker{top:0;left:0;padding:4px;margin-top:1px;-webkit-border-radius:4px;border-radius:4px}
.ui-datepicker:before{
    content:"";display:inline-block !important;border-left:7px solid transparent;border-right:7px solid transparent;
    border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,0.2);position:absolute;top:-7px;left:6px
}
.ui-datepicker:after{
    content:"";display:inline-block !important;border-left:6px solid transparent;border-right:6px solid transparent;
    border-bottom:6px solid #fff;position:absolute;top:-6px;left:7px
}
.ui-datepicker .ui-datepicker-header{background:transparent !important;color:gray;font-weight:normal}
.ui-datepicker .ui-state-default{background:transparent !important}
.ui-datepicker .ui-state-highlight{border:solid 1px #dac308 !important;background:#FEFBE2 !important}
.ui-datepicker .ui-state-active{color:#fff !important;background:#00aff0 !important;border:solid 1px #008abd !important}
.select2-container{margin:0;position:relative;display:inline-block;zoom:1;*display:inline;vertical-align:middle}
.select2-container,.select2-drop,.select2-search,.select2-search input{
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box
}
.select2-container .select2-choice{
    display:block;height:26px;padding:0 0 0 8px;overflow:hidden;position:relative;
    border:1px solid #aaa;white-space:nowrap;line-height:26px;color:#444;text-decoration:none;
    border-radius:4px;background-clip:padding-box;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;
    -ms-user-select:none;user-select:none;background-color:#fff;background-image:linear-gradient(to top, #eeeeee 0%,#ffffff 50%)
}
.select2-container.select2-drop-above .select2-choice{border-bottom-color:#aaa;border-radius:0 0 4px 4px}
.select2-container.select2-allowclear .select2-choice .select2-chosen{margin-right:42px}
.select2-container .select2-choice>.select2-chosen{
    margin-right:26px;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;float:none;width:auto
}
.select2-container .select2-choice abbr{
    display:none;width:12px;height:12px;position:absolute;right:24px;top:8px;font-size:1px;
    text-decoration:none;border:0;background:url("../img/select2.png") right top no-repeat;cursor:pointer;outline:0
}
.select2-container.select2-allowclear .select2-choice abbr{display:inline-block}
.select2-container .select2-choice abbr:hover{background-position:right -11px;cursor:pointer}
.select2-drop-mask{
    border:0;margin:0;padding:0;position:fixed;left:0;top:0;min-height:100%;min-width:100%;
    height:auto;width:auto;opacity:0;z-index:9998;background-color:#fff;filter:alpha(opacity=0)
}



#jform-carrier-size-setting input[type="text"]{}

#jform_edit_delivery_address, #jform_edit_invoice_address{ float:right;  margin-right:60px; }

#jform_summary_part{ width:90%; }
